/* Variables */
$tamano_fuente: 1rem;

/* Carrusel */
$medida_height-carrusel:55vh;
$medida_width-carrusel:100%;

/* Nav */
$color_nav:white;

/* Color texto */
$color_texto:black;

/* Tamaño imagenes index */
$width_index-imgs:70%;

/* Tamaño cards archivos JS */
$widht_js:60%;